.employee {
    background-color: aqua;
}

.form-class {	
    border: 15px solid #df8bd5
}

.employeeTable {
	border: 1px solid #000000;
}

tbody td{
    border: 1px solid #000000;
}

tbody tr:nth-child(even){
    background-color: aquamarine;
}